clusterSleep:
  namespaces: &sleep-namespaces
    - nginx
  configs:
     ## Configuration for weekdays
     test-paolo:
       timeZone: "Europe/Rome" # this is also the default, if not specified
       enabled: false
       namespaces: *sleep-namespaces
       kubeGreen:
         weekdays: "1-5"
         sleepAt: "16:51"
         #wakeUpAt: "16:10"
       argoCd:
        schedule: '50 16 * * 1-5'
        duration: 10h