clusterSleep:
  namespaces: &sleep-namespaces
    - nginx
  configs:
     ## Configuration for weekdays
     test-paolo:
       timeZone: "Europe/Rome" # this is also the default, if not specified
       enabled: true
       namespaces: *sleep-namespaces
       kubeGreen:
         weekdays: "1-5"
         sleepAt: "16:41"
         #wakeUpAt: "16:10"
       argoCd:
        schedule: '40 16 * * 1-5'
        duration: 5m